* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #000;
}

header {
    background-color: #e7e7e7;
}

header nav ul {
    padding: 0 200px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#content {
    padding: 20px 200px;
}

.titre{
    text-align: center;
    margin: 20px 0;
    font-size: large;
}

.rotate {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

.separator {
    border-bottom: 3px solid #e7e7e7;
    margin: 20px 0;
    border-radius: 50px;
}

.random-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#randomPokemonButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#randomPokemonButton svg{
    width: 5em;
    height: 5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
    width: fit-content;
}


.box img {
    padding: 0 30px;
    width: 150px;
    height: 150px;
}

.numero {
    color: gray;
}

.details {
    background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.details:hover {
    background-color: #e7e7e7;
}

.types {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.types li {
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}

.types>* {
    --color: white;
    color: var(--color);
    border-color: var(--color);
}

.types li:hover {
    color: white;
    border-color: var(--color);
    background-color: var(--color);
}

.favoriteButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    align-self: flex-end;
}


.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    min-height: 50px;
    gap: 10px;
}


.input{
    padding:8px;
    display:block;
    border-bottom:1px solid #ccc;
    width:20em;
    border:1px solid #ccc;
    border-radius:32px;
}

.input:focus {
    outline-width: 0;
}

/* Types de Pokémon */
.Grass {
    --color: green;
}

.Fire {
    --color: red;
}

.Water {
    --color: blue;
}

.Electric {
    --color: gold;
}

.Normal {
    --color: brown;
}

.Fighting {
    --color: maroon;
}

.Flying {
    --color: skyblue;
}

.Poison {
    --color: purple;
}

.Ground {
    --color: sandybrown;
}

.Rock {
    --color: gray;
}

.Bug {
    --color: limegreen;
}

.Ghost {
    --color: darkviolet;
}

.Steel {
    --color: silver;
}

.Psychic {
    --color: fuchsia;
}

.Ice {
    --color: lightblue;
}

.Dragon {
    --color: darkorange;
}

.Dark {
    --color: black;
}

.Fairy {
    --color: pink;
}